html body {
    background-color: #272822;
    color: lightsteelblue;
}

.container{
    text-align: center;
}

.container p {
    margin: 5px 0;
}

.container img{
    width: 50px;
}

.div-principal {
    padding: 20px !important;
}

.div-descricao {
    margin-top: 15px !important;
}

.div-dados {
    /* display: flex;
    flex-direction: column;
    align-items: baseline; */
    text-align:start;
}
